.complete-editor-div {
  background-color: #1E1E1E;
}

.ribbon {
  height: 5vh;
  width: minmax(450px, 100%);
  /* min-width: 450px; */
  background-color: #15161e;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
}

.ribbon > .ribbonCircle {
  height: 2vh;
  width: 2vh;
  border-radius: 50%;
  z-index: 3;
  margin-left: 10px;
}

.circleOne {
  background-color: red;
}

.circleTwo {
  background-color: yellow;
}

.circleThree {
  background-color: green;
}

.window {
  display: grid;
  grid-template-rows: 3.8vh 81.2vh;
  grid-template-columns: minmax(60px, 80px) minmax(300px, auto);
  border-bottom-left-radius: 30%;
}

.sidebar {
  background-color: #181818;
  grid-row-start: 1;
  grid-row-end: 4;
  border-bottom-left-radius: 11px;
  border-right: 2px solid #2b2b2b;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 38px;
  padding-top: 1rem;
}

.sidebar > img {
  width: 35px;
  height: 35px;
}

.two {
  display: flex;
  flex-direction: row;
  background-color: #181818;
  grid-column-start: 2;
  grid-column-end: 4;
}




.three:focus,
.four:focus,
.activeTab:focus {
  outline: none;
  border-color: transparent;
}

.two .activeTab {
  width: 130px;
  color: white;
  background-color: #1f1f1f;
}

.activeTab {
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

